<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='css/bootstrap-responsive.min.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- todo: move to separate file -->
    <style>
        .container {
            margin-top: 50px;
            width: 800px;
        }
    </style>
</head>
<body>
    <div class='container'>

        {{ page_content }}

    </div>
</body>
</html>